.skillCard {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
}

.skillCard:hover {
  box-shadow: 0 0 10px 2px rgba(128, 0, 255, 0.8),
    0 0 20px 5px rgba(128, 0, 255, 0.6), 0 0 40px 10px rgba(128, 0, 255, 0.4);
}
