.experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 32px 0px;
  align-items: center;
}

.experienceCard {
  width: 50%;
}

@media (max-width: 768px) {
  .experiences {
    gap: 32px;
    padding: 32px 0px;
    align-items: center;
  }

  .experienceCard {
    width: 90%;
  }
}
