.yearCard {
  display: flex;
  gap: 32px;
  align-items: center;
}

.yearCard .year {
  color: #8e49de;
  font-family: "Archivo Black", sans-serif;
  font-size: 32px;
}

.text {
  color: white;
  text-align: justify;
  font-family: "Actor", sans-serif;
}

@media (max-width: 768px) {
  .yearCard {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .text {
    word-break: break-word;
  }
}
