@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.home {
  background-color: black;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 100px;
}

.welcome {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.welcome h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 24px;
}

.welcome p {
  font-family: "JetBrains Mono", monospace;
}

.profileImage img {
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(128, 0, 255, 0.3);
}

.socialMediaIcon ul {
  display: flex;
  gap: 16px;
}

.socialMediaIcon ul li {
  list-style-type: none;
  transition: transform 0.5s ease-in-out;
}

.socialMediaIcon ul li:hover {
  transform: scale(1.25);
}
