.contactContainer {
  display: flex;
  justify-content: center;
  padding: 24px 0px 0px;
}

.contactContainer > div {
  background-color: #060606;
  width: 100%;
  max-width: 800px;
  padding: 48px 32px;
  border-radius: 300px 300px 0 0;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(128, 0, 255, 0.3);
}

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.contactItem {
  text-decoration: none;
  color: white;
  font-family: "Actor", sans-serif;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.contactItem a {
  color: white;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}

.contactItem img {
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease-in-out;
}

.contactItem:hover {
  transform: scale(1.05);
}

.contactItem:hover img {
  transform: scale(1.1);
}

.contactItem span {
  display: block;
}

@media (max-width: 768px) {
  .contactContainer > div {
    padding: 32px 16px;
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .contactItem span {
    display: none;
  }
}
