.experienceCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.position {
  color: #8e49de;
  font-family: "Archivo Black", sans-serif;
  font-size: 18px;
}

.yearExperience,
.description {
  color: white;
  text-align: justify;
  font-family: "Actor", sans-serif;
}

@media (max-width: 768px) {
  .position,
  .yearExperience,
  .description {
    word-break: break-word;
  }
}
