@import url("https://fonts.googleapis.com/css2?family=Actor&family=Archivo+Black&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.experienceCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.position {
  color: #8e49de;
  font-family: "Archivo Black", sans-serif;
  font-size: 18px;
}

.yearExperience,
.description {
  color: white;
  text-align: justify;
  font-family: "Actor", sans-serif;
}
