.carousel {
  max-width: 700px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.carousel-item img {
  object-fit: contain;
}

.carousel-description {
  text-align: center;
  padding-top: 16px;
}

.buttonProject {
  background-color: #8e49de;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
  border: none;
  border: 2px solid transparent;
  color: white;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
}

.buttonProject:hover {
  background-color: #060606;
  border: 2px solid #8e49de;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

#carouselExampleCaptions {
  margin-top: 64px;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#carouselExampleCaptions {
  margin-top: 32px;
}

@media (max-width: 768px) {
  .carousel-control-next,
  .carousel-control-prev {
    width: 30px;
  }
}
