@import url("https://fonts.googleapis.com/css2?family=Actor&family=Archivo+Black&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.page {
  background-color: black;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.page .titleSection {
  color: #8e49de;
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
