.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  background-color: #060606;
  padding: 32px 0px;
  align-items: center;
}

.yearCard {
  width: 50%;
}

@media (max-width: 768px) {
  .aboutMe {
    padding: 32px 0px;
  }

  .yearCard {
    width: 90%;
  }
}
